$primary-color: #0037ac;

.wrapper {
  padding-left: 6rem;
  padding-right: 6rem;
}
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__left {
    flex-basis: 40%;
    margin-right: 2rem;
    margin-top: -2rem;
  }
  &__primary-header {
    font-size: 2.5rem;
    margin-bottom: 0.7rem;
  }
  &__secondary-header {
    letter-spacing: 1.2px;
    font-size: 1.3rem;
  }

  .base {
    display: block;
  }

  &__btn {
    width: 8rem;
    height: 2.5rem;
    margin-top: 1rem;
    background-color: $primary-color;
    color: white;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s linear;

    &:hover {
      background-color: lighten($primary-color, 20%);
    }
  }

  &__right {
    flex-basis: 60%;
  }
  &__img {
    height: 100%;
    width: 100%;
  }
}
.occupation {
  color: $primary-color;
  font-weight: 500;
}
