@import "../../index.scss";

@mixin hamburgerPsuedos {
  content: "";
  width: 100%;
  display: block;
  height: 100%;
  background: white;
  position: absolute;
  transform: translateY(0.4rem);
  transition: all 0.4s linear;
}

.nav {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  background: white;

  &__logo {
    z-index: 10;
    @include primaryHeader;
  }

  &__lists {
    display: flex;
    list-style: none;
    align-items: center;
    transition: all 0.4s linear;
    @media (max-width: $mdScreen) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: grey;
      flex-direction: column;
      justify-content: center;
      transform: translateX(60rem);
    }
  }
  &__list {
    margin: 0 1rem;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all 0.2s linear;
    position: relative;

    @media (max-width: $mdScreen) {
      font-size: 2rem;
      margin: 1rem 0;
    }

    i {
      font-size: 2rem;
      @media (max-width: $mdScreen) {
        font-size: 4rem;
      }
    }

    &:hover {
      color: $primary-color;
    }
  }

  &__item {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $primary-color;
      transition: all 0.2s linear;
    }
    &:hover::after {
      width: 100%;
    }
  }
  &__btn {
    @include primaryBtn;
    &:hover {
      @include primaryBtnHover;
    }
    @media (max-width: $mdScreen) {
      font-size: 1.4rem;
    }
  }
  &__github {
    z-index: 10;
    font-size: 2rem;
    color: unset;
    transition: all 0.2s linear;

    &:hover {
      color: $primary-color;
    }

    @media (min-width: $mdScreen) {
      display: none;
    }
  }
}

.show-nav {
  transition: all 0.4s linear;
  @media (max-width: $mdScreen) {
    transform: translateX(0);
  }
}

.hamburger-container {
  cursor: pointer;
  z-index: 10;
  width: 4rem;
  height: 90%;
  border-radius: 50%;
  background: $primary-color;
  position: relative;
  @media (min-width: $mdScreen) {
    display: none;
  }
}
.hamburger {
  width: 2rem;
  height: 2px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s linear;
  &::before {
    @include hamburgerPsuedos;
  }
  &::after {
    @include hamburgerPsuedos;
    transform: translateY(-0.4rem);
  }
}

@media (max-width: $mdScreen) {
  .github {
    display: none;
  }
}

.nav-show-hamburger {
  background: transparent;
  transition: all 0.4s linear;

  &::before {
    transition: all 0.4s linear;
    transform: rotate(45deg);
  }
  &::after {
    transition: all 0.4s linear;
    transform: rotate(-45deg);
  }
}
