body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin primaryHeader {
  font-weight: 400;
  font-size: 1.8rem;
  color: $primary-color;
  margin-bottom: 1rem;
}
@mixin primaryBtn {
  padding: 0.6rem 2rem;
  background-color: none;
  outline: none;
  border: 1px solid primary-color;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s linear;
  border-radius: 6px;
}
@mixin primaryBtnHover {
  background-color: $primary-color;
  color: white;
}

$primary-color: #0037ac;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
