body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin primaryHeader {
  font-weight: 400;
  font-size: 1.8rem;
  color: $primary-color;
  margin-bottom: 1rem;
}
@mixin primaryBtn {
  padding: 0.6rem 2rem;
  background-color: none;
  outline: none;
  border: 1px solid primary-color;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s linear;
  border-radius: 6px;
}
@mixin primaryBtnHover {
  background-color: $primary-color;
  color: white;
}

$primary-color: #0037ac;

$xlScreen: 1400px;
$screen1200: 1200px;
$bgScreen: 1000px;
$mdScreen: 800px;
$smScreen: 600px;
$xsScreen: 400;

.wrapper {
  padding-left: 6rem;
  padding-right: 6rem;

  @media (max-width: $screen1200) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @media (max-width: $smScreen) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  @media (max-width: $bgScreen) {
    font-size: 75%;
  }
}
